@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@1979&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --fondo: #c5c5c5;
    --hoja: #fafafa;
    --text: #ffffff;
    --text-gray: #b5b5b5;
    --bg-azul: #0078f2;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    color: #202122;
    background-color: var(--fondo);
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 24px 40px;
    background: #18181c;
    align-items: center;
    margin-bottom: 25px;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.normal {
    color: var(--text-gray);
    text-decoration: none;
    margin-right: 20px;
    font-size: 17px;
    font-weight: bold;
    transition: 0.3s;
}

.normal:hover {
    color: var(--bg-azul)
}

.seleccionado {
    color: var(--text-gray);
    text-decoration: none;
    border-bottom: 3px solid steelblue;
    padding-bottom: 5px;
    margin-right: 20px;
    font-size: 17px;
    font-weight: bold;
    transition: 0.3s;
}


.logo {
    width: 35px;
    margin-right: 20px;
}

.tittle-logo {
    color: var(--text-gray);
    text-decoration: none;
    margin-right: 20px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: none;
    margin-top: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background: var(--hoja);
    padding: 40px;
    border: 1px solid #a2a9b1;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

.presentacion h1 {
    font-family: 'Linux Libertine', Georgia, Times, serif;
    font-size: 2.5em;
    margin-bottom: 0;
    font-weight: normal;
}

.subtitle {
    font-size: 0.9em;
    color: black;
    margin-top: 5px;
}

hr {
    border: 0;
    border-top: 1px solid #a2a9b1;
    margin-bottom: 20px;
}

.cuerpo-contenido {
    display: flex;
    gap: 30px;
}

.contenido-column {
    flex: 3;
}

/* Índice */
.table-of-contents {
    background: #f8f9fa;
    border: 1px solid #a2a9b1;
    padding: 15px;
    display: inline-block;
    margin: 20px 0;
    font-size: 0.9em;
}

.table-of-contents h3 {
    margin-top: 0;
    text-align: center;
    font-size: 1.1em;
}

.table-of-contents ul {
    list-style: none;
    padding-left: 0;
}

.table-of-contents a {
    text-decoration: none;
    color: #0645ad;
}

.table-of-contents a:hover {
    text-decoration: underline;
}

.infobox {
    flex: 1;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    padding: 10px;
    font-size: 0.85em;
    align-self: flex-start;
    min-width: 250px;
}

.infobox-title {
    background: #cedff2;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px;
    margin-bottom: 10px;
}

.infobox-image {
    text-align: center;
    margin-bottom: 10px;
}

.infobox-image img {
    max-width: 100%;
    height: auto;
    border: 1px solid #a2a9b1;
}

.infobox table {
    width: 100%;
    border-collapse: collapse;
}

.infobox th {
    text-align: left;
    width: 40%;
    padding: 5px;
    vertical-align: top;
}

.infobox td {
    padding: 5px;
}

h2 {
    border-bottom: 1px solid #a2a9b1;
    margin-top: 30px;
}

.intro {
    font-size: 0.95em;
}

.contenido-desarrollo {
    display: flex;
    padding: 25px 35px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seccion-btn-action {
    display: flex;
    flex-direction: row;
    gap: 25px;
}
/* Uiverse.io*/
.button {
    display: flex;
    background-color: rgb(24, 23, 23);
    color: #ffffff;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    gap: 0.75rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: .6s ease;
}

.button svg {
    height: 30px;
}

.button:hover {
    box-shadow: none;
    transform: translateY(-10px);
}

.correo {
    background-color: var(--bg-azul);
}
.ventana-emergente-correo {
    display: none; 
    position: fixed;
    bottom: 10%;
    left: 40%;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    z-index: 1000;
    text-align: center;
}

.correo-img img {
    max-width: 100px;
    border-radius: 50px;
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column-reverse;
    }

    .infobox {
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .nav-right {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .normal,
    .seleccionado {
        margin-right: 10px;
        font-size: 15px;
    }

    .section-informacion {
        flex-direction: column;
        padding: 40px 5%;
        text-align: center;
    }
}