:root {
    --azul-kinal: #003366;
    --azul-suave: #002447;
    --fuego-kinal: #FF9D2E;
    --estado: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.Encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background: var(--estado);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.logo img {
    height: 50px;
}

.btn-encabezado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.btn.menu {
    width: 35px;
    margin-right: 20px;

}

.logo-home {
    height: 35px;
}


.Menu-hamburgesa {
    /*Chessburger xd*/
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.Menu-hamburgesa span {
    width: 30px;
    height: 4px;
    background-color: var(--azul-kinal);
    border-radius: 2px;
    transition: 0.3s;
}

.menu-lista {
    display: none;
}

.menu-links {
    display: none;
    position: absolute;
    top: 100%;
    right: 5%;
    background-color: var(--estado);
    width: 250px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
}

.menu-links ul {
    list-style: none;
    padding: 20px;
}

.menu-links li {
    margin: 15px 0;
}

.menu-links a {
    text-decoration: none;
    color: var(--azul-kinal);
    font-weight: bold;
    font-size: 14px;
}

.menu-lista:checked~.menu-links {
    display: block;
}

.contenido {
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    background-image: url("https://static.wixstatic.com/media/128120_2149451250ff47698d7060f748273a41~mv2.png/v1/fit/w_2500,h_1330,al_c/128120_2149451250ff47698d7060f748273a41~mv2.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.eslogan-content {
    flex: 0.5;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-kinal);
    mask-image: linear-gradient(to right, black 55%, transparent 100%);
}

.eslogan-content img {
    margin-left: -50vh;
    width: 150px;
    height: auto;
    filter: invert(1);

}

.eslogan-content h4 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-left: -50vh;
    font-size: 10px;
    letter-spacing: 1.5px;
}

.text-content {
    flex: 0.5;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    ;
}

.text-content img {
    max-width: 105px;
    height: auto;
    margin-bottom: 10px;
}

.text-content h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 60px;
    letter-spacing: 2.5px;
    line-height: 0.8;
}

.text-content span {
    font-weight: 900;
}
.patroncinadores{
    width: 100%;
    background-color: var(--azul-suave);
    height: auto;
    padding: 5px 10px;
    box-shadow: 3px 7px 10px rgb(0, 0, 0, 0.53);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.title-patrocinadores{
    margin-top: 15px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 30px;
}
.contenedor-patrocinadores{
    width: 80%;
    height: auto;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 10px;
}
.contenedor-patrocinadores img{
    max-width: 100px;
    width: 75px;
    height: auto;
    filter: grayscale(100%);
    transition: 0.3s;
}
.contenedor-patrocinadores img:hover{    
    filter: grayscale(0%);
    transform: translateY(-5px);
}

.contenido-QuienesSomos {
    width: 100%;
    background-color: #ffffff;
    padding: 80px 0; 
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: row; 
    width: 90%;
    max-width: 1100px;
    background-color: #f4f4f4; 
    border-radius: 20px; 
    overflow: hidden; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25); 
}

.contenedor-Descripcion {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    text-align: left;
}

.contenedor-Descripcion h2 {
    color: var(--azul-kinal);
    font-size: 32px;
    margin-bottom: 20px;
    position: relative;
}

.contenedor-Descripcion h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: var(--fuego-kinal);
    margin-top: 8px;
    border-radius: 2px;
}

.contenedor-Descripcion p {
    color: #555;
    line-height: 1.6;
    font-size: 20px;
}

.contenedor-img-descripcion {
    flex: 1;
    display: flex;
}

.contenedor-img-descripcion img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contenedor-educacion {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    background-color: #fff;
}

.banner-educacion {
    width: 90%;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 80% 80% 0 0;
}

.banner-educacion img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.opcionones-educacion {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px 0;
}

.curso-contenedor {
    background-color: #f4f4f4;    
    border-top: 1px solid #ddd;
    width: 350px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
}

.curso-contenedor:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.img-curso {
    width: 100%;
    height: 200px;
    background-color: var(--azul-kinal);
    background-image: url('../IMG/basicos.jpg'); 
    background-size: cover;
    background-position: center;
}

.descripcion-curso {
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
}

.descripcion-curso h2 {
    color: var(--azul-kinal);
    font-size: 22px;
    margin: 0;
}

.descripcion-curso p {
    color: #666;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}
.basicos{
    background-image: url(../IMG/basicos.webp);
}
.diversificado{
    background-image: url(../IMG/diversificado.jpg);
}
.escuela-tecnica{
    background-image: url(../IMG/tenica.jpg);
}
.programa-negocio{
    background-image: url(../IMG/negocio.webp);
}
.universitario{
    background-image: url(../IMG/universitario.webp);
}

.btn-curso {
    background-color: var(--fuego-kinal);
    color: black;
    border: 1px solid black;
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
    margin-top: auto; 
    transition: 0.3s;
}

.btn-curso:hover {
    background-color: #e68a24; 
}
.contenido-footer {
    background-color: #f4f4f4;
    padding: 60px 0 20px 0;
    color: #444;
    border-top: 1px solid #ddd;
}

.seccion-antiguos {
    width: 100%;
    background-color: #f0f0f0; 
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.contenedor-antiguos {
    width: 90%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    position: relative;
}

.imagen-alumno {
    flex: 1;
    z-index: 1;
}

.imagen-alumno img {
    width: 100%;
    max-width: 500px;
    display: block;
    filter: grayscale(60%);
    transition: 0.5s;
}
.imagen-alumno img:hover{
    transform: translateY(-5px);
    filter: grayscale(0%);
}

.tarjeta-info {
    flex: 1.2;
    background-color: white;
    padding: 60px 40px;
    margin-left: -100px; 
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05);
    text-align: center;
    z-index: 2;
}

.tarjeta-info h2 {
    color: var(--azul-kinal);
    font-size: 26px;
    margin-bottom: 20px;
    line-height: 1.2;
}

.tarjeta-info h2 span {
    font-weight: 900;
}

.tarjeta-info p {
    color: var(--azul-kinal);
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.4;
}

.link-trabajos {
    text-decoration: none;
    color: var(--azul-kinal);
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.3s;
}

.link-trabajos:hover {
    color: var(--fuego-kinal);
}

@media (max-width: 768px) {
    .contenedor-antiguos {
        flex-direction: column;
    }
    .tarjeta-info {
        margin-left: 0;
        margin-top: -50px;
        width: 100%;
    }
}

.footer-apartados {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-col {
    flex: 1;
    padding: 0 25px;
    border-left: 1px solid #ccc;
}

.footer-col h3 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.footer-col p {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 5px;
}

.footer-social {
    text-align: center;
    margin-top: 40px;
}

.footer-social hr {
    width: 90%;
    border: 0;
    border-top: 1px solid #ddd;
    margin: 0 auto 30px auto;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.icons img {
    width: 30px;
    height: 30px;
    filter: grayscale(100%);
    transition: 0.3s;
}

.icons img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.copyright {
    font-size: 12px;
    color: #888;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (max-width: 768px) {
    .footer-apartados {
        flex-direction: column;
        text-align: center;
    }

    .footer-col {
        border-left: none;
        border-bottom: 1px solid #ddd;
        padding: 20px 0;
    }

    .description {
        flex-direction: column;
        width: 90%;
    }
    
    .contenedor-img-descripcion {
        height: 300px; 
    }
    
    .contenedor-Descripcion {
        padding: 30px;
    }
        .contenedor-antiguos {
        flex-direction: column;
    }
    .tarjeta-info {
        margin-left: 0;
        margin-top: -50px;
        width: 100%;
    }
}
